body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding-top: 20%;
}

input, button {
    margin: 10px;
    padding: 5px;
}

#hours, #minutes, #seconds {
    display: inline-block;
    font-size: 5em;
    margin: 0 10px;
}

button {
    font-size: 1.2em;
    background-color: #0f0;
    border: none;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}